<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Main")">
                <a href="@Url.Action("Main", "Home")"><i class="fa fa-table"></i> <span class="nav-label">Zoom - Daily Usage</span></a>
               
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Graphs")">
                <a href="@Url.Action("Graphs", "Home")"><i class="fa fa-bar-chart"></i> <span class="nav-label">Zoom - Graphs</span></a>
            </li>
        </ul>
    </div>
</nav>