@model List<CommonPeril.Models.ZoomUsageModel>

@{
    ViewBag.Title = "Main";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Request Data</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" href="">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                       
                        
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="get">
                      
                        <div class="form-group row col-lg-5">

                            <label class="col-lg-4 col-form-label" for="year">Select Year</label>
                            <div class="col-lg-6">
                                <select name="year" id="year" class="form-control">
                                    <option value="1" selected>2021</option>
                                    <option value="0">2020</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row col-lg-5">

                            <label class="col-lg-4 col-form-label" for="month">Select Month</label>
                            <div class="col-lg-6">
                                <select name="month" id="month" class="form-control">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>

                        </div>
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
        <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Zoom Data</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link" href="">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>

                            <a class="close-link" href="">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>

                                    <th>Date </th>
                                    <th>Participants</th>
                                    <th>Meetings</th>
                                    <th>Minutes</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MeetingDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Users)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Meetings)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalMinutes)
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>


